:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*                              Custom                          */
body{
  display: flex;
  justify-content: center;
}
.main{
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  margin-top: 2rem;
}
                            /***********start****************/

.start{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(4) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 1)'/><path d='M100.16 24.75a2.93 2.93 0 11.04 5.86 2.93 2.93 0 01-2.95-2.91 2.92 2.92 0 012.9-2.95zm-100 0a2.93 2.93 0 11.04 5.86 2.93 2.93 0 01-2.95-2.91 2.92 2.92 0 012.9-2.95zm9.57 53.18c1.6 0 2.9 1.3 2.9 2.9a2.95 2.95 0 01-2.95 2.96 2.9 2.9 0 01-2.9-2.9 2.95 2.95 0 012.95-2.96zm58.57-2.51a2.93 2.93 0 11.04 5.86 2.93 2.93 0 11-.04-5.86zM49.45 4.4a2.93 2.93 0 11.04 5.86 2.93 2.93 0 01-.04-5.86zM21.66 49.6l2.95 2.91-2.9 2.95-2.95-2.9zm43.55-12.85s2.9 1.3 2.9 2.9v.05c0 1.6-1.3 2.9-2.9 2.9h-.04c-1.6 0-2.9-2.9-2.9-2.9z'  stroke-width='1' stroke='none' fill='hsla(259, 59%, 59%, 0.27)'/><path d='M89.93 57.48a1.08 1.08 0 01.39-1.38c2.44-1.53 5.04-1.81 7.15-.8 2.1 1.03 3.47 3.26 3.77 6.13.22 2.14 1.14 3.71 2.58 4.42 1.44.7 3.24.45 5.07-.69a1.07 1.07 0 011.13 1.8c-2.44 1.54-5.04 1.83-7.14.81-2.1-1.02-3.48-3.25-3.77-6.12-.23-2.15-1.15-3.72-2.59-4.42-1.44-.7-3.24-.46-5.07.68-.5.32-1.16.16-1.47-.33l-.05-.1zm10.06 31.11a.87.87 0 011.07.46c.99 2.14.95 4.28-.1 5.88-1.05 1.6-3 2.48-5.36 2.42-1.76-.04-3.13.54-3.85 1.63-.72 1.1-.71 2.59.03 4.18a.87.87 0 11-1.59.73c-.99-2.13-.95-4.27.1-5.87 1.05-1.6 3-2.48 5.36-2.42 1.76.04 3.13-.54 3.85-1.63.72-1.1.71-2.59-.03-4.18a.87.87 0 01.52-1.2zm0-100a.87.87 0 011.07.46c.99 2.14.95 4.28-.1 5.88-1.05 1.6-3 2.48-5.36 2.42-1.76-.04-3.13.54-3.85 1.63-.72 1.1-.71 2.59.03 4.18a.87.87 0 11-1.59.73c-.99-2.13-.95-4.27.1-5.87 1.05-1.6 3-2.48 5.36-2.42 1.76.04 3.13-.54 3.85-1.63.72-1.1.71-2.59-.03-4.18a.87.87 0 01.52-1.2zM9.44 9.9c.15-.3.54-.39.9-.24 1.88.82 3.16 2.12 3.53 3.58.38 1.47-.21 2.93-1.6 4.02-1.04.8-1.47 1.81-1.22 2.81.26 1 1.17 1.9 2.57 2.5.39.18.6.58.47.9-.13.34-.55.47-.93.3-1.88-.82-3.16-2.12-3.54-3.58-.37-1.46.22-2.93 1.6-4.01 1.05-.81 1.48-1.82 1.23-2.82-.26-1-1.17-1.89-2.58-2.5-.38-.17-.59-.57-.46-.9l.03-.07zm-19.51 47.59a1.08 1.08 0 01.39-1.38c2.44-1.53 5.04-1.81 7.15-.8 2.1 1.03 3.47 3.26 3.77 6.13.22 2.14 1.14 3.71 2.58 4.42 1.44.7 3.24.45 5.07-.69a1.07 1.07 0 011.13 1.8c-2.44 1.54-5.04 1.83-7.14.81C.78 66.75-.6 64.52-.9 61.65c-.23-2.15-1.15-3.72-2.59-4.42-1.44-.7-3.24-.46-5.07.68-.5.32-1.16.16-1.47-.33l-.05-.1zM-.01 88.59a.87.87 0 011.07.46c.99 2.14.95 4.28-.1 5.88-1.05 1.6-3 2.48-5.36 2.42-1.76-.04-3.13.54-3.85 1.63-.72 1.1-.71 2.59.03 4.18a.87.87 0 11-1.59.73c-.99-2.13-.95-4.27.1-5.87 1.05-1.6 3-2.48 5.36-2.42 1.76.04 3.13-.54 3.85-1.63.72-1.1.71-2.59-.03-4.18a.87.87 0 01.52-1.2zm43.92-4.85c-.24-.48-.1-1.08.36-1.38 2.41-1.59 5-1.93 7.13-.96s3.55 3.17 3.92 6.03c.27 2.14 1.23 3.7 2.68 4.36 1.46.67 3.25.38 5.05-.8a1.07 1.07 0 011.48.3c.32.5.19 1.16-.3 1.48-2.4 1.59-5 1.94-7.13.96-2.12-.97-3.55-3.17-3.91-6.03-.28-2.14-1.23-3.69-2.69-4.36-1.46-.67-3.25-.38-5.05.8-.49.32-1.16.2-1.48-.3l-.06-.1zM41 45.67c-.47.25-1.07.1-1.38-.35-1.61-2.39-2-4.98-1.05-7.11.94-2.14 3.13-3.6 5.98-4 2.14-.3 3.67-1.27 4.32-2.73.65-1.47.34-3.26-.87-5.05-.33-.49-.2-1.15.28-1.48.5-.33 1.15-.2 1.5.28 1.6 2.39 2 4.98 1.04 7.11-.94 2.14-3.12 3.6-5.98 4-2.13.3-3.67 1.27-4.32 2.73-.65 1.47-.34 3.26.87 5.05.33.49.21 1.15-.28 1.49-.04.01-.07.04-.1.06z'  stroke-width='1' stroke='none' fill='hsla(54, 100%, 62%, 0.3)'/><path d='M101 9.76l.75 1.71-9.97 4.34-.74-1.72zM87.35 9.7l-.66 1.75L59.14 1.12l.65-1.76zM41.4-6.21l1.62.93L34.2 10l-1.62-.94zM87.35 109.7l-.66 1.76-27.55-10.35.65-1.75zM50.58 56.03l1.85-.3 1.83 11.32-1.85.3zm-6.22 13.79l-.5 1.8-17-4.66.5-1.8zM41.4 93.79l1.62.93L34.2 110l-1.62-.94zM87.35 9.7l-.66 1.75L59.14 1.12l.65-1.76zm-7.77 42.56l.77 1.76-16.34 7.11-.77-1.75zM1 9.76l.75 1.71-9.96 4.34-.75-1.72zm100 0l.75 1.71-9.97 4.34-.74-1.72zM31.04 27.68l.6 1.86-23.13 7.48-.6-1.86zm48.1 46.45l.73-1.72 10 4.28-.74 1.72zM41.4-6.2l1.62.93L34.2 10l-1.62-.94zM67.54 11.2l1.62.94-7.26 12.57-1.62-.94zM21.22 90.35l-.6-1.4 9.58-4.16.6 1.39zm69.3-49.79l-1.5 1.12L78.5 27.55l1.5-1.12zm-3.17 69.14l-.66 1.76-27.55-10.35.65-1.75zM41.4 93.8l1.62.93L34.2 110l-1.62-.94zM1 9.76l.74 1.71-9.96 4.34-.75-1.72z'  stroke-width='1' stroke='none' fill='hsla(199, 98%, 48%, 0.26)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-152,-44)' fill='url(%23a)'/></svg>");
  width: 550px;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start--content{
  text-align: center;
}
.start--title{
  color: #293264;
  text-align: center;
  font-family: Karla,sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 7px;
}
.start--description{
  color: #293264;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px;
}
.start--btn{
  border-radius: 15px;
  background: #4D5B9E;
  width: 193px;
  height: 52px;
  flex-shrink: 0;

  color: #F5F7FB;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 2px solid #4D5B9E;
}
.start--btn:hover{
  border: 2px solid #4D5B9E;
  background-color: #F5F7FB;
  color: #4D5B9E;
}
                            /***********Quiz Page****************/

.quiz{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(66, 0%, 100%, 1)'/><path d='M92.4 11.82a1.2 1.2 0 011.11 1.74 6.47 6.47 0 0011.49 5.9 1.2 1.2 0 011.6-.52c.28.14.49.39.59.7.08.27.05.6-.1.88a8.78 8.78 0 01-5.14 4.36 8.79 8.79 0 01-11.1-5.7 8.79 8.79 0 01.54-6.72 1.17 1.17 0 011-.64zm-100 0a1.2 1.2 0 011.11 1.74 6.47 6.47 0 002.8 8.68 6.47 6.47 0 008.68-2.78 1.2 1.2 0 011.6-.52c.3.14.5.39.6.7.08.27.05.6-.1.88a8.77 8.77 0 01-5.14 4.36 8.8 8.8 0 01-11.1-5.7 8.79 8.79 0 01.54-6.72 1.17 1.17 0 011-.64zm61.5 15.26c1.84.06 3.58.76 4.98 1.99a1.08 1.08 0 01.34 1.01 1.09 1.09 0 01-.98.87c-.29.02-.56-.07-.78-.27a5.84 5.84 0 00-7.72 8.74 1.04 1.04 0 01.1 1.5c-.2.22-.45.35-.74.37-.28.02-.56-.08-.77-.27a7.92 7.92 0 01-2.68-5.48 7.92 7.92 0 017.46-8.45c.26-.02.53-.02.79-.01zm-7.18 23.34a9.42 9.42 0 11-1.32 18.66 9.4 9.4 0 011.32-18.66zm.06 1.78a7.62 7.62 0 10.47 15.24 7.62 7.62 0 00-.47-15.24zm-21.4 16.73l4.83 9.23-13.73 7.17-4.82-9.22z'  stroke-width='1' stroke='none' fill='hsla(47, 100%, 96%, 1)'/><path d='M107.9 52.52c1.6 0 3-.98 3.78-2.61.54-1.13 1.47-1.8 2.5-1.8 1.04 0 1.98.67 2.51 1.8.78 1.64 2.2 2.6 3.8 2.6 1.59 0 3-.97 3.78-2.6.53-1.13 1.47-1.8 2.5-1.8.86 0 1.65.46 2.2 1.27.2.29.58.4.89.25h.02a.7.7 0 00.29-1.02 4.08 4.08 0 00-3.4-1.92c-1.6 0-3 .98-3.78 2.61-.54 1.12-1.48 1.8-2.5 1.8-1.04 0-1.98-.68-2.51-1.8-.78-1.64-2.2-2.6-3.8-2.6-1.59 0-3 .97-3.78 2.6-.53 1.12-1.47 1.8-2.5 1.8-1.04 0-1.97-.68-2.5-1.8-.78-1.64-2.2-2.6-3.8-2.6-1.58 0-3 .95-3.77 2.58a.74.74 0 00.25.94c.37.23.85.08 1.03-.3.53-1.12 1.47-1.8 2.5-1.8 1.04 0 1.97.68 2.5 1.8.77 1.63 2.2 2.6 3.79 2.6zm-.04-4.91c1.6 0 3.01-.98 3.79-2.61.53-1.13 1.47-1.8 2.5-1.8 1.04 0 1.97.67 2.5 1.8.78 1.64 2.2 2.6 3.8 2.6 1.6 0 3-.97 3.78-2.6.54-1.13 1.47-1.8 2.5-1.8 1.04 0 1.98.67 2.51 1.8a.72.72 0 001.3-.62c-.78-1.64-2.2-2.6-3.8-2.6-1.59 0-3 .97-3.78 2.6-.54 1.13-1.47 1.8-2.5 1.8-1.04 0-1.98-.67-2.51-1.8-.78-1.64-2.2-2.6-3.79-2.6-1.6 0-3.01.97-3.79 2.6-.53 1.13-1.47 1.8-2.5 1.8s-1.97-.67-2.5-1.8c-.78-1.64-2.2-2.6-3.8-2.6-1.59 0-3 .97-3.78 2.6a.72.72 0 001.3.62c.53-1.13 1.46-1.8 2.5-1.8 1.03 0 1.97.67 2.5 1.8.76 1.63 2.18 2.6 3.77 2.6zm-65-66.88L25.77-6.92 8.72 5.44l19.23 8.6 19.24 8.61L45.02 1.7zm0 100L25.77 93.08 8.72 105.44l19.23 8.6 19.24 8.61-2.17-20.96zM7.9 52.52c1.6 0 3-.98 3.78-2.61.54-1.13 1.47-1.8 2.5-1.8 1.04 0 1.98.67 2.51 1.8.78 1.64 2.2 2.6 3.8 2.6 1.59 0 3-.97 3.78-2.6.53-1.13 1.47-1.8 2.5-1.8.86 0 1.65.46 2.2 1.27.2.29.57.4.89.25h.02a.7.7 0 00.29-1.02 4.08 4.08 0 00-3.4-1.92c-1.6 0-3.01.98-3.78 2.61-.54 1.12-1.48 1.8-2.5 1.8-1.04 0-1.98-.68-2.51-1.8-.78-1.64-2.2-2.6-3.8-2.6-1.59 0-3 .97-3.78 2.6-.53 1.12-1.47 1.8-2.5 1.8-1.04 0-1.97-.68-2.5-1.8-.78-1.64-2.2-2.6-3.8-2.6-1.58 0-3 .95-3.77 2.58a.74.74 0 00.25.94c.37.23.85.08 1.03-.3.53-1.12 1.47-1.8 2.5-1.8 1.04 0 1.97.68 2.5 1.8.77 1.63 2.19 2.6 3.79 2.6zm-.04-4.91c1.6 0 3.01-.98 3.79-2.61.53-1.13 1.47-1.8 2.5-1.8 1.04 0 1.97.67 2.5 1.8.78 1.64 2.2 2.6 3.8 2.6 1.59 0 3-.97 3.78-2.6.54-1.13 1.47-1.8 2.5-1.8 1.04 0 1.98.67 2.51 1.8a.72.72 0 001.3-.62c-.78-1.64-2.2-2.6-3.8-2.6-1.59 0-3 .97-3.78 2.6-.54 1.13-1.47 1.8-2.5 1.8-1.04 0-1.98-.67-2.51-1.8-.78-1.64-2.2-2.6-3.79-2.6-1.6 0-3.01.97-3.79 2.6-.53 1.13-1.47 1.8-2.5 1.8s-1.97-.67-2.5-1.8c-.78-1.64-2.2-2.6-3.8-2.6-1.59 0-3 .97-3.78 2.6a.72.72 0 001.3.62c.53-1.13 1.46-1.8 2.5-1.8 1.03 0 1.97.67 2.5 1.8.76 1.63 2.17 2.6 3.77 2.6z'  stroke-width='1' stroke='none' fill='hsla(352, 100%, 99%, 1)'/><path d='M53.04 81.06a2 2 0 003.95-.66 2 2 0 00-3.95.66zM14.89 63.92a3.28 3.28 0 004.63-4.63 3.28 3.28 0 00-4.63 0 3.26 3.26 0 000 4.63zm52.8-52.54a5.99 5.99 0 0011.8-1.97 5.99 5.99 0 00-11.8 1.97z'  stroke-width='1' stroke='none' fill='hsla(187, 100%, 95%, 1)'/><path d='M80.37 64.6a13.58 13.58 0 11-1.14 27.15 13.58 13.58 0 011.14-27.14zM26.83 26.14l-1.67 4.77-1.68 4.78-3.3-3.84L16.9 28l4.97-.93zm54.32 15.72l1.76 4.73 1.78 4.74-4.99-.83-4.99-.84 3.22-3.9z'  stroke-width='1' stroke='none' fill='hsla(259, 100%, 98%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  width: 550px;
  text-align: center;
  padding-bottom: 25px;
}
.quiz--content{
  padding: 25px 75px;
  text-align: center;
}
.question{
  text-align: start;
}
.question--body{
  color: #293264;
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px 0 13px;
}
.options{
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}
.options > input{
  display: none;
}
.options > label{
  color: #293264;
  background-color: #FFFFFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  /*word-break: break-all;*/
  /*display: flex !important;*/
  white-space: nowrap;

  border-radius: 10px;
  border: 1px solid #4D5B9E;
  padding: 4px 16px;
}
input:checked + label{
  background-color: #D6DBF5;
  border: 1px solid #D6DBF5;
}
hr{
  margin: 15px 0 0;
  border: 1px solid #DBDEF0;;
}

.score--container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.score--board{
  margin: 0;
  color: #293264;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.submit--btn{
  padding: 11px 22px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.submit--btn:active{
  border: none;
}