:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*                              Custom                          */
body{
  display: flex;
  justify-content: center;
}
.main{
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  margin-top: 2rem;
}
                            /***********start****************/
.start{
  background-image: url("./assets/bg-start.svg");
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start--content{
  text-align: center;
}
.start--title{
  color: #293264;
  text-align: center;
  font-family: Karla,sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 7px;
}
.start--description{
  color: #293264;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px;
}
.start--btn{
  border-radius: 15px;
  background: #4D5B9E;
  width: 193px;
  height: 52px;
  flex-shrink: 0;

  color: #F5F7FB;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 2px solid #4D5B9E;
}
.start--btn:hover{
  border: 2px solid #4D5B9E;
  background-color: #F5F7FB;
  color: #4D5B9E;
}
                            /***********Quiz Page****************/

.quiz{
  background-image: url("./assets/bg-quiz.svg");
  width: 550px;
  height: 550px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  text-align: center;
}
.quiz--content{
  padding: 25px 75px;
  text-align: center;
}
.question{
  text-align: start;
}
.question--body{
  color: #293264;
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px 0 13px;
}
.options{
  display: flex;
  gap: 13px;
}
.options > input{
  display: none;
}
.options > label{
  color: #293264;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  border-radius: 10px;
  border: 1px solid #4D5B9E;
  padding: 4px 16px;
}
input:checked + label{
  background-color: #D6DBF5;
  border: 1px solid #D6DBF5;
}
hr{
  margin: 15px 0 0;
  border: 1px solid #DBDEF0;;
}

.submit--btn{
  padding: 11px 22px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;


}